@{
    ViewBag.Title = "汽修系统 | 参数控制";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Style/parameterControll/index.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="form-group pull-left option-group">
            <button id="btn_save" type="button" class="k-button k-primary"><i class="fa fa-save"></i>&nbsp;保存</button>
        </div>
    </div>
    <div class="row">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#repair">
                        <i class="green ace-icon fa fa-gavel bigger-120"></i>
                        维修配置
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#warehouse">
                        <i class="green ace-icon fa fa-home bigger-120"></i>
                        库房配置
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#alert">
                        <i class="green ace-icon fa fa-bell bigger-120"></i>
                        提醒配置
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="repair" class="tab-pane fade in active">
                    <ul>
                        <li class="form-group">
                            <input id="repeatBooking" type="checkbox" /><label class="switch-label">重复预约</label><em class="switch-info">勾选后可以在预约列表重复预约</em>
                        </li>
                        <li class="form-group">
                            <input id="repeatRepair" type="checkbox" /><label class="switch-label">重复接车</label><em class="switch-info">勾选后可以在接车列表重复接车</em>
                        </li>
                        <li class="form-group">
                            <input id="requiredVin" type="checkbox" /><label class="switch-label">新增车辆车架号必填</label><em class="switch-info">勾选后在新增车辆时，必须填写车架号</em>
                        </li>
                        <li class="form-group">
                            <input id="requiredMobile" type="checkbox" /><label class="switch-label">新增客户手机号必填</label><em class="switch-info">勾选后在新增客户时，必须填写手机号</em>
                        </li>
                        <li class="form-group">
                            <input id="requiredInsuranceExpireTime" type="checkbox" /><label class="switch-label">保险到期必填</label><em class="switch-info">勾选后在接车时，必须填写保险到期</em>
                        </li>
                        <li class="form-group">
                            <input id="requiredYearlyCheckTime" type="checkbox" /><label class="switch-label">年检到期必填 </label><em class="switch-info">勾选后在接车时，必须填写年检到期</em>
                        </li>
                        <li class="form-group">
                            <input id="requiredServiceMileage" type="checkbox" /><label class="switch-label">进厂里程必填</label><em class="switch-info">勾选后在接车时，必须填写进厂里程</em>
                        </li>
                        <li class="form-group">
                            <input id="requiredNextMaintainMileage" type="checkbox" /><label class="switch-label">下次保养必填</label><em class="switch-info">勾选后在接车时，必须填写下次保养里程</em>
                        </li>
                    </ul>
                    <div class="form-group" id="nextMaintainMileageBox">
                        <label class="pull-left">保养间隔：</label>
                        <div class="input-group pull-left" style="width: 150px;">
                            <input id="nextMaintainMileage" type="text" class="form-control">
                            <span class="input-group-addon">
                                公里
                            </span>
                        </div>
                        <span class="switch-info">下次保养里程 = 当前里程 + 保养间隔</span>
                    </div>
                </div>
                <div id="warehouse" class="tab-pane fade">
                    <ul>
                        <li class="form-group">
                            <input id="partsBuyPriceControll" type="checkbox" /><label class="switch-label">启用采购进价范围控制</label><em class="switch-info">勾选后可以在采购入库时对其进价进行范围判断</em>
                        </li>
                    </ul>
                    <div class="form-group" id="nextMaintainMileageBox">
                        <label class="pull-left">开票税率：</label>
                        <div class="input-group pull-left" style="width: 150px;">
                            <input id="ServiceTicketRate" type="text" class="form-control">
                            <span class="input-group-addon">
                                %
                            </span>
                        </div>
                        <span class="switch-info">税费 = 单价 * 开票税率</span>
                    </div>
                </div>

                <div id="alert" class="tab-pane fade">
                    <ul>
                        <li class="form-group">
                            <input id="partsCountAlert" type="checkbox" /><label class="switch-label">库存预警</label>
                        </li>
                        <li class="form-group">
                            <input id="birthday" type="checkbox" /><label class="switch-label">客户生日</label>
                            <div class="days-input">
                                <label class="input-label">提前</label>
                                <input id="birthdayAlertDays"/>
                                <span class="input-span">天提醒</span>
                            </div>
                        </li>
                        <li class="form-group">
                            <input id="insuranceExpireTime" type="checkbox" /><label class="switch-label">保险到期</label>
                            <div class="days-input">
                                <label class="input-label">提前</label>
                                <input id="insuranceExpireTimeAlertDays"/>
                                <span class="input-span">天提醒</span>
                            </div>
                        </li>
                        <li class="form-group">
                            <input id="maintainrMileage" type="checkbox" /><label class="switch-label">保养里程</label>
                            <div class="days-input">
                                <label class="input-label">提前</label>
                                <input id="maintainrMileageAlertDays"/>
                                <span class="input-span">里提醒</span>
                            </div>
                        </li>
                        <li class="form-group">
                            <input id="maintainrDate" type="checkbox" /><label class="switch-label">保养日期</label>
                            <div class="days-input">
                                <label class="input-label">提前</label>
                                <input id="mmaintainrDateAlertDays"/>
                                <span class="input-span">天提醒</span>
                            </div>
                        </li>
                        <li class="form-group">
                            <input id="yearlyCheckTime" type="checkbox" /><label class="switch-label">年审到期</label>
                            <div class="days-input">
                                <label class="input-label">提前</label>
                                <input id="yearlyCheckTimeAlertDays"/>
                                <span class="input-span">天提醒</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var selectedRow = {};
    $(document).ready(function () {
        $("#repeatBooking").kendoMobileSwitch({ onLabel: "开", offLabel: "关" });
        $("#repeatRepair").kendoMobileSwitch({ onLabel: "开", offLabel: "关" });
        $("#requiredVin").kendoMobileSwitch({ onLabel: "开", offLabel: "关" });
        $("#requiredMobile").kendoMobileSwitch({ onLabel: "开", offLabel: "关" });
        $("#requiredInsuranceExpireTime").kendoMobileSwitch({ onLabel: "开", offLabel: "关" });
        $("#requiredYearlyCheckTime").kendoMobileSwitch({ onLabel: "开", offLabel: "关" });
        $("#requiredServiceMileage").kendoMobileSwitch({ onLabel: "开", offLabel: "关" });
        $("#requiredNextMaintainMileage").kendoMobileSwitch({ onLabel: "开", offLabel: "关" }); 
        $("#partsBuyPriceControll").kendoMobileSwitch({ onLabel: "开", offLabel: "关" }); 

        $("#partsCountAlert").kendoMobileSwitch({ onLabel: "开", offLabel: "关" }); 
        $("#birthday").kendoMobileSwitch({ onLabel: "开", offLabel: "关" });
        $("#birthdayAlertDays").kendoNumericTextBox();
        $("#insuranceExpireTime").kendoMobileSwitch({ onLabel: "开", offLabel: "关" }); 
        $("#insuranceExpireTimeAlertDays").kendoNumericTextBox();
        $("#maintainrMileage").kendoMobileSwitch({ onLabel: "开", offLabel: "关" }); 
        $("#maintainrMileageAlertDays").kendoNumericTextBox();
        $("#maintainrDate").kendoMobileSwitch({ onLabel: "开", offLabel: "关" }); 
        $("#mmaintainrDateAlertDays").kendoNumericTextBox();
        $("#yearlyCheckTime").kendoMobileSwitch({ onLabel: "开", offLabel: "关" }); 
        $("#yearlyCheckTimeAlertDays").kendoNumericTextBox();
    });
    //保存
    $("#btn_save").click(function() {
        
    });
</script>
<script>
</script>

