@{
    ViewBag.title = "汽车维修管理系统 | 首页";
}
<div class="footer">
    <div class="footer-inner">
        <div class="footer-content text-right">
            <span class="">
                <span class="blue bolder">基于ASP.NET MVC的汽修系统&nbsp;v1.0</span>
            </span>
        </div>
    </div>
</div>