

@{
    ViewBag.Title = "汽修系统 | 员工管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Style/userManage/userManage.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="form-group pull-left" style="margin-right: 20px">
            <button id="btn_add" type="button" class="k-button k-primary"><i class="fa fa-plus"></i>&nbsp;新增</button>&nbsp;
            <button id="btn_edit" type="button" class="k-button k-primary k-state-disabled" disabled="disabled"><i class="fa fa-edit"></i>&nbsp;编辑</button>&nbsp;
            <button id="btn_delete" type="button" class="k-button k-state-disabled" disabled="disabled"><i class="fa fa-trash"></i>&nbsp;删除</button>
        </div>
        <div class="form-group pull-left">
            <button id="btn_active" type="button" class="k-button k-primary k-state-disabled" disabled="disabled"><i class="fa fa-plus"></i>&nbsp;激活</button>&nbsp;
            <button id="btn_disable" type="button" class="k-button k-state-disabled" disabled="disabled"><i class="fa fa-edit"></i>&nbsp;禁用</button>
        </div>
        <div class="form-group pull-left">
            <button id="btn_ajust" type="button" class="k-button k-primary k-state-disabled" disabled="disabled"><i class="fa fa-user"></i>&nbsp;员工调配</button>&nbsp;
        </div>
    </div>
    <div class="row">
        <div id="userGrid"></div>
    </div>
</div>
<script id="StateTemp" type="text/x-kendo-template">
    # if(State == 0){ #
        <label class="label label-sm label-success paddingBottom0">激活</label>
    # }else{ #
        <label class="label label-sm label-danger paddingBottom0">禁用</label>
    # } # 
</script>
<script>
    var selectedUser = {};
    $(document).ready(function () {
        $("#btn_add").kendoButton();
        $("#btn_edit").kendoButton();
        $("#btn_delete").kendoButton();
        $("#btn_active").kendoButton();
        $("#btn_disable").kendoButton();
        $("#btn_adjust").kendoButton();
        $("#userGrid").kendoGrid({
            dataSource: {
                transport: {
                    read:""
                },
                schema: {
                    model: {
                        id:"Id"
                    }
                },
                pageSize: 20
            },
            height: 550,
            pageable: true,
            sortable: true,
            filterable: true,
            colums:[{

            }]
        });
    });
    //添加
    $("#btn_add").click(function() {
        
    });
    //更新
    $("#btn_edit").click(function() {
        
    });
    //删除
    $("#btn_delete").click(function() {
        swal({
            position: "center",
            type: "warning",
            title: parentOrg.Name,
            text: "确定删除该部门吗？删除后不可逆",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '我确定',
            cancelButtonText: "手滑点错"
        }).then(function(res) {
            console.log(res);
            if (res.value) {
                $.ajax({
                    url: "@Url.Action("DeleteOrganization")",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        Id: selectedUser.Id
                    }),
                    success: function(res) {
                        if (res.Success) {
                            swal({
                                type: "success",
                                text: "恭喜，该部门已绝尘而去",
                                showConfirmButton: false,
                                timer: 1000
                            });
                            setTimeout(function() {
                                    window.location.reload();
                                },
                                1050);
                        } else {
                            swal({
                                type: "error",
                                text: "删除失败，该部门含有下属部门或员工",
                                confirmButtonText: '知道了'
                            });
                        }
                    }
                });
            }
        });
    });
    //激活
    $("#btn_active").click(function() {
        $.ajax({
            url: "@Url.Action("ActiveOrganization")",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                Id: selectedUser.Id
            }),
            success: function(res) {
                if (res.Success) {
                    swal({
                        type: "success",
                        text: "激活成功",
                        showConfirmButton: false,
                        timer: 1000
                    });
                    setTimeout(function() {
                            window.location.reload();
                        },
                        1050);
                } else {
                    swal({
                        type: "error",
                        text: res.Msg,
                        confirmButtonText: '知道了'
                    });
                }
            }
        });
    });
    //禁用
    $("#btn_disable").click(function() {
        $.ajax({
            url: "@Url.Action("DisableOrganization")",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                Id: selectedUser.Id
            }),
            success: function(res) {
                if (res.Success) {
                    swal({
                        type: "success",
                        text: "禁用成功",
                        showConfirmButton: false,
                        timer: 1000
                    });
                    setTimeout(function() {
                            window.location.reload();
                        },
                        1050);
                } else {
                    swal({
                        type: "error",
                        text: res.Msg,
                        confirmButtonText: '知道了'
                    });
                }
            }
        });
    });
</script>
<script>
    function onChange() {
        var selectedRow = this.dataItem(this.select()[0]);
        console.log(selectedRow);

        $("#btn_edit").data("kendoButton").enable(true);
        $("#btn_delete").data("kendoButton").enable(true);
        $("#btn_adjust").data("kendoButton").enable(true);
        $("#btn_active").data("kendoButton").enable(selectedRow.State === 1 ? true : false);
        $("#btn_disable").data("kendoButton").enable(selectedRow.State === 0 ? true : false);
    }
</script>

