<link href="~/Style/orgManage/orgAdd.css" rel="stylesheet" />
<div id="addOrgApp" style="padding-left: 25px" class="container-fluid">
    <div class="row">
        <h4>基础信息</h4>
        <div class="form-group">
            <label class="inputlabel">上级部门</label>
            <input class="k-textbox window-input-item" disabled="disabled" v-model="parentOrgName"/>
            <input type="hidden" v-model="parentId"/>
        </div>
        <div class="form-group">
            <label class="inputlabel">名称</label>
            <input class="k-textbox window-input-item" v-model="orgName"/>
        </div>
        <div class="form-group">
            <label class="inputlabel">描述</label>
            <input class="k-textbox window-input-item" v-model="description"/>
        </div>
    </div>
    <div class="row option">
        <button type="button" @@click="cancelAddOrg" class="k-button pull-right"><i class="fa fa-reply"></i>返回&nbsp;</button>
        <button type="button" @@click="saveAddOrg" class="k-button k-primary pull-right marginRight5px"><i class="fa fa-save"></i>保存&nbsp;</button>&nbsp;
    </div>
</div>
<script>
    var addOrgVm = new Vue({
        el: "#addOrgApp",
        data: {
            parentId: selectedOrg.ParentId,
            parentOrgName:selectedOrg.ParentOrgName,
            id:selectedOrg.Id,
            orgName: selectedOrg.Name,
            description:selectedOrg.Description
        },
        created: function () {
            if (this.parentId == null) {
                this.parentOrgName = "总部";
            }

        },
        methods: {
            cancelAddOrg: function() {
                $("#updateOrgWindow").data("kendoWindow").destroy();
            },
            saveAddOrg: function () {
                if (!_this.orgName) {
                    return;
                }
                var _this = this;
                $.ajax({
                    url: "@Url.Action("UpdateOrganization")",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        ParentId: _this.parentId,
                        Id:_this.id,
                        Name: _this.orgName,
                        Description:_this.description
                    }),
                    success: function(res) {
                        console.log(res);
                        if (res.Success) {
                            $("#updateOrgWindow").data("kendoWindow").destroy();
                            swal({
                                position: "center",
                                type: "success",
                                title: "更新成功",
                                showConfirmButton: false,
                                timer:1000
                            });
                            setTimeout(function () {
                                window.location.reload();
                            }, 1050);
                        } else {
                            swal({
                                position: "center",
                                type: "error",
                                title: res.Msg,
                                showConfirmButton: false,
                                timer:1000
                            });
                        }
                    }
                });
            }
        }
    });
</script>