
@{
    ViewBag.Title = "汽修系统 | 操作日志";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Style/partsDictionary/index.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="form-group pull-left option-group">
            <button id="btn_delete" type="button" class="k-button"><i class="fa fa-trash"></i>&nbsp;清空</button>&nbsp;
            <button id="btn_export" type="button" class="k-button"><i class="fa fa-file-excel-o"></i>&nbsp;导出</button>
        </div>
        <div class="form-group pull-right">
            <div id="simpleSearchContainer">
                <input id="simpleSearchContent" class="k-textbox" />
                <button id="btn_simpleSearch" type="button" class="k-button k-primary"><i class="fa fa-search"></i></button>
            </div>
            <button id="btn_switchSearchType" type="button" class="k-button k-primary"><span>展开</span>&nbsp;<i class="fa fa-angle-double-down"></i></button>
        </div>
    </div>
    <form style="display: none;" id="advancedSearchContainer" class="row">
        <ul class="info-input-box">
            <li>
                <label>操作人：</label>
                <input id="operatorName" class="k-textbox" />
            </li>
            <li>
                <label>模块：</label>
                <input id="moduleName" class="k-textbox" />
            </li>
            <li>
                <label>操作时间：</label>
                <input id="operationTimeStart" />
            </li>
            <li>
                <label>操作时间：</label>
                <input id="operationTimeEnd"/>
            </li>
        </ul>
        <div class="info-search-box">
            <button id="btn_advancedSearch" type="button" class="k-button k-primary marginRight5px"><i class="fa fa-search"></i>&nbsp;查找</button>
            <button id="btn_reset" type="button" class="k-button"><i class="fa fa-undo"></i>&nbsp;重置</button>
        </div>
    </form>
    <div class="row">
        <div id="grid"></div>
    </div>
</div>
<script>
    var selectedRow = {};
    $(document).ready(function () {
        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: "@Url.Action("OperationLog_GridDataSource")"
                },
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            OperationTime: {type:"date"}
                        }
                    }
                }
            },
            excel: {
                fileName: "操作日志.xlsx",
                allPages: true
            },
            height: 550,
            pageable: {
                pageSize: 20,
                refresh: true
            },
            sortable: true,
            filterable: false,
            selectable: "multiple",
            persistSelection: true,
            columns: [
                {
                    field: "OperatorName",
                    title: "操作人"
                },
                {
                    field: "OperatorAccount",
                    title: "操作人账号"
                },
                {
                    field: "ModuleName",
                    title: "模块"
                },
                {
                    field: "OperationDesc",
                    title: "操作描述"
                },
                {
                    field: "OperationTime",
                    title: "操作时间",
                    format: "{0: yyyy-MM-dd HH:mm:ss}"
                },
                {
                    field: "IPAddress",
                    title: "IP地址"
                }
            ]
        });
    });
    //清空
    $("#btn_delete").click(function() {
        swal({
            position: "center",
            type: "warning",
            text: "确定清空所有日志吗？，清空后不可逆",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '我确定',
            cancelButtonText: "取消"
        }).then(function(res) {
            console.log(res);
            if (res.value) {
                $.ajax({
                    url: "@Url.Action("Delete")",
                    type: "POST",
                    dataType: "json",
                    data: {},
                    success: function(res) {
                        if (res.Success) {
                            swal({
                                type: "success",
                                text: "已清空所有日志",
                                showConfirmButton: false,
                                timer: 1000
                            });
                            setTimeout(function() {
                                    window.location.reload();
                                },
                                1100);
                        } else {
                            swal({
                                type: "error",
                                text: res.Msg,
                                confirmButtonText: '知道了'
                            });
                        }
                    }
                });
            }
        });
    });
    $("#btn_export").click(function() {
        var grid = $("#grid").data("kendoGrid");
        grid.saveAsExcel();
    });
    //简单搜索
    $("#btn_simpleSearch").click(function() {
        var keyword = $("#simpleSearchContent").val();
        $.ajax({
            url: "@Url.Action("Query")",
            dataType: "json",
            data: {
                keyword:keyword
            },
            success: function(data) {
                var dataSource = new kendo.data.DataSource({
                    data: data
                });
                var grid = $("#grid").data("kendoGrid");
                grid.setDataSource(dataSource);
            }
        });
    });
    $("#btn_switchSearchType").click(function () {
        if ($(this).find("i").hasClass("fa-angle-double-down")) {
            $(this).find("i").removeClass("fa-angle-double-down");
            $(this).find("i").addClass("fa-angle-double-up");
            $(this).find("span").html("收起");
            $("#simpleSearchContainer").hide();
            $("#advancedSearchContainer").slideDown();
        } else {
            $(this).find("i").removeClass("fa-angle-double-up");
            $(this).find("i").addClass("fa-angle-double-down");
            $(this).find("span").html("展开");
            $("#simpleSearchContainer").show();
            $("#advancedSearchContainer").slideUp();
        }
    });
    $("#btn_advancedSearch").click(function() {
        
        
    });
    $("#btn_reset").click(function() {
        $("#advancedSearchContainer")[0].reset();
    });
</script>

