
@{
    ViewBag.Title = "新增一个维修项目";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Style/jobManage/jobAdd.css" rel="stylesheet" />
<div id="addRepairItemApp" class="form">
    <div class="options container-fluid">
        <div class="row">
            <button @@click="saveUser" class="k-button k-primary marginRight5px"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button @@click="goBack" class="k-button"><i class="fa fa-reply"></i>&nbsp;返回</button>
        </div>
    </div>
    <div class="baseinfo container-fluid">
        <h4 class="marginBottom30px">基础信息</h4>
        <div class="form-group row">
            <label class="required col-xs-2 text-right">编号</label>
            <div class="col-xs-3">
                <input class="k-textbox full-width" v-model.trim="serNum"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="required col-xs-2 text-right">名称</label>
            <div class="col-xs-3">
                <input class="k-textbox full-width" v-model.trim="name"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 text-right">维修项目类型</label>
            <div class="col-xs-3">
                <div id="repairItemType"></div>
            </div>
        </div>
        <div class="form-group row">
            <label class="required col-xs-2 text-right">参考工时</label>
            <div class="col-xs-3">
                <input class="k-textbox full-width" v-model.trim="workHour"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="required col-xs-2 text-right">参考单价</label>
            <div class="col-xs-3">
                <input class="k-textbox full-width" v-model.trim="price"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="required col-xs-2 text-right">热门项目</label>
            <div class="col-xs-3">
                <input id="isHot" class="k-textbox full-width"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-2 text-right">备注</label>
            <div class="col-xs-3">
                <input class="k-textbox full-width" v-model.trim="description"/>·
            </div>
        </div>
    </div>
</div>
<script>

</script>
<script>
    var addRepairItemApp = new Vue({
        el: "#addRepairItemApp",
        data: {
            serNum: "",
            name: "",
            workHour: "",
            price:"",
            description: "",
            isHot: "",
            repairItemTypeId:""
        },
        methods: {
            goBack: function() {
                window.history.back();
            },
            saveUser: function () {
                var _this = this;
                _this.repairItemTypeId = $("#repairItemType").data("kendoDropDownList").value();
                _this.isHot = $("#isHot").data("kendoMobileSwitch").check();
                var repairItem = {
                    SerNum:_this.serNum,
                    Name: _this.name,
                    WorkHour: _this.workHour,
                    Price: _this.price,
                    IsHot: _this.isHot,
                    RepairItemTypeId:_this.repairItemTypeId,
                    Description: _this.description
                };
                $.ajax({
                    url: "@Url.Action("Add")",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(repairItem),
                    success: function(res) {
                        if (res.Success) {
                            swal({
                                type: "success",
                                text: "添加成功",
                                showConfirmButton: false,
                                timer: "1000"
                            });
                            setTimeout(function() {
                                    window.location.href = "@Url.Action("Index")";
                                },
                                1100);
                        } else {
                            swal({
                                type: "error",
                                text: "添加失败"
                            });
                        }
                    }
                });
            }
        }
    });
</script>
<script>
    $(document).ready(function () {
        $("#repairItemType").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: {
                transport: {
                    read: {
                        url: "@Url.Action("DropDowList_RepairItemTypeDataSource")"
                    }
                }
            }
        });
    });
    $("#isHot").kendoMobileSwitch({
        onLabel: "是",
        offLabel: "否"
    });
</script>
