li {
    list-style: none;
}
label.required:before {
    content: "*";
    color: #f00;
    margin-right: 5px;
    vertical-align: middle;
    font-weight: bold;
}
.option-group button {
    margin-right: 5px;
}
.option-area::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.option-area {
    margin-bottom: 10px;
}
.full-width {
    width: 100%;
 }
.option-group {
        position: absolute;
    bottom: 10px;
    right: 17px;
}

.title {
     background-color: #F5F5F5;
    padding: 5px 25px;
    padding-bottom: 4px;
    color: #067CFE !important;
    margin-bottom: 10px;
}
.title>span:first-child {
    font-size: 14px;
    margin-right: 70px;
}
.info-input-item .k-textbox {
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
    text-align: center;
}
#booTimeInfo .k-textbox{
    background-color: #F5F5F5;
}
.info-input-item  .k-textbox:focus {
    border-color: #c5c5c5;
    border-radius: 4px;
}
.input-label {
    margin-right: 40px;
    color: #333;
}
.input-item {
    display: inline-block;
}
#contactName {
    margin-left: 73px;
    margin-right: 50px;
}
#contactPhone {
    margin-left: 50px;
}
#repairAdvisorLabel {
    margin-right: 59px;
}
#repairTypeLabel {
    margin-left: 50px;
    margin-right: 50px;
}
#address,
#customerDescription {
    margin-left: 59px;
    width: 514px;
    margin-right: 50px;
}
#remark{
    margin-left: 88px;
    width: 514px;
}
.verticalAlignTop {
    vertical-align: top;
}
#repairDescription {
    margin-left: 50px;
    width: 400px;
}
#orgLabel {
    margin-left: 50px;
}
#org {
    margin-left: 50px;
}
.k-combobox {
    width: 230px;
}
/* 选择车辆的弹出comboBox */
#comboxHeaderBox span {
    box-sizing: border-box;
    display: inline-block;
    width: 28%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-weight: bold;
}
.comboxItem span{
    box-sizing: border-box;
    display: inline-block;
    width: 28%;
    padding-top: 5px;
    padding-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#comboxHeaderBox span:nth-child(3),
.comboxItem span:nth-child(3) {
    width: 40%;
}
#chooseCar-list{
    width: 400px!important;
}
#carFullName {
    margin-left: 60px;
    color: #333;
    font-weight: 200;
}
.option-box {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
 }
.option-box button {
    min-width: 34px !important;
    height: 26px;
}
#horizontal {
    height: 533px;
}