.full-width {
    width: 100%;
}
.options {
    margin-top: 10px;
    margin-bottom: 20px
}
.form label.required:before {
    content: "*";
    color: #f00;
    margin-right: 5px;
    vertical-align: middle;
    font-weight: bold;
}
ul.role-container {
    margin: 0;
}
li.role-item{
    list-style: none;
    display: inline-block;
    width: 24%;
    padding-bottom: 10px;
}
.marginRight5px {
    margin-right: 5px;
}
input[type="password"] {
    border-radius: 4px !important;
}
.k-dropdown {
    border: none;
}