
@{
    ViewBag.Title = "新增预约";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Style/booking/create.css" rel="stylesheet" />
<div id="booking" class="container-fluid">
    <div class="option-area row">
        <div class="pull-left option-group">
            <button type="button" class="k-button k-primary"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button type="button" class="k-button"><i class="fa fa-reply"></i>&nbsp;返回</button>
        </div>
    </div>
    <div class="row">
        <div id="bookTimeInfo" class="title">
            <span>预约信息</span>
            <span>
                <label class="required input-label">预约时间：</label>
                <input class="k-textbox" />
            </span>
        </div>
    </div>
    <div class="row">
        <div class="title">
            <span>车辆信息</span>
            <span>
                <label class="required"></label>
                <input class="k-textbox" />
            </span>
        </div>
        <div style="padding-left: 25px;">
            <div class="form-group">
                <div class="input-item">
                    <label class="required">联系人：</label>
                    <input id="contactName" class="k-textbox" />
                </div>
                <div class="input-item">
                    <label class="required">联系电话：</label>
                    <input id="contactPhone" class="k-textbox" />
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label class="required">联系地址：</label>
                    <input id="address" class="k-textbox" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="title">
            <span>其它信息</span>
        </div>
        <div style="padding-left: 25px;">
            <div class="form-group">
                <div class="input-item">
                    <label class="required">维修顾问：</label>
                    <input id="repairAdvisor" class="k-textbox" />
                </div>
                <div class="input-item">
                    <label class="required">维修类型：</label>
                    <input id="repairType" class="k-textbox" />
                </div>
                <div class="input-item">
                    <label class="required">委修单位：</label>
                    <input id="org" class="k-textbox" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-item">
                    <label class="required verticalAlignTop">委修描述：</label>
                    <textarea id="customerDescription"></textarea>
                </div>
                <div class="input-item">
                    <label class="required verticalAlignTop">维修说明：</label>
                    <textarea id="repairDescription"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="input-item">
                    <label class="required verticalAlignTop">备注：</label>
                    <textarea id="description"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="title">
            <span>维修明细</span>
        </div>
        <div id="tabStrip">
            <ul>
                <li class="k-state-active">
                    <span>维修项目&nbsp;<label class="badge badge-success">￥0.00 &nbsp;(0项)</label></span>
                </li>
                <li>
                    <span>预估用料&nbsp;<label class="badge badge-info">￥0.00 &nbsp;(0项)</label></span>
                </li>
            </ul>
            <div>
                <div id="repairItemGrid"></div>
            </div>
            <div>
                <div id="estimatePartsGrid"></div>
            </div>
        </div>
    </div>
</div>
<script id="repairItemGridToolBarTemp" type="text/x-kendo-template">
    <div>
        <button type="button" class="k-button k-primary"><i class="fa fa-plus"></i>&nbsp;添加</button>
    </div>
</script>
<script id="estimatePartsGridToolBarTemp" type="text/x-kendo-template">
    <button type="button" class="k-button k-primary"><i class="fa fa-plus"></i>&nbsp;添加</button>
</script>
<script>
    $(document).ready(function () {
        $("#chooseCar").kendoComboBox();
        $("#chooseBooking").kendoDropDownList();
        $("#serviceTime").kendoDateTimePicker();
        $("#estimateLeaveTime").kendoDateTimePicker();
        $("#filter").kendoButtonGroup();
        $("#tax").kendoButtonGroup({
            index: 0
        });
        $("#tabStrip").kendoTabStrip();
        $("#repairItemGrid").kendoGrid({
            dataSource: {
                data: []
            },
            height: 500,
            pageable: {
                pageSize: 20,
                refresh: true
            },
            toolbar: $("#repairPartsGridToolBarTemp").html(),
            sortable: true,
            filterable: false,
            selectable: "multiple",
            persistSelection: true,
            columns: [
                {
                    field: "Name",
                    title: "客户"
                },
                {
                    field: "Code",
                    title: "车辆牌照"
                },
                {
                    field: "ContactName",
                    title: "车架号"
                },
                {
                    field: "MobilePhone",
                    title: "里程数"
                },
                {
                    field: "Wechat",
                    title: "维修顾问"
                },
                {
                    field: "QQ",
                    title: "进厂时间"
                },
                {
                    field: "FixPhone",
                    title: "状态"
                },
                {
                    field: "Fax",
                    title: "工时费"
                },
                {
                    field: "MajorOrigin",
                    title: "材料费"
                },
                {
                    field: "Address",
                    title: "管理费"
                },
                {
                    field: "FixPhone",
                    title: "其它费用"
                }
            ]
        });
        $("#estimatePartsGrid").kendoGrid({
            dataSource: {
                data: []
            },
            height: 500,
            pageable: {
                pageSize: 20,
                refresh: true
            },
            toolbar: $("#estimatePartsGridToolBarTemp").html(),
            sortable: true,
            filterable: false,
            selectable: "multiple",
            persistSelection: true,
            columns: [
                {
                    field: "Name",
                    title: "客户"
                },
                {
                    field: "Code",
                    title: "车辆牌照"
                },
                {
                    field: "ContactName",
                    title: "车架号"
                },
                {
                    field: "MobilePhone",
                    title: "里程数"
                },
                {
                    field: "Wechat",
                    title: "维修顾问"
                },
                {
                    field: "QQ",
                    title: "进厂时间"
                },
                {
                    field: "FixPhone",
                    title: "状态"
                },
                {
                    field: "Fax",
                    title: "工时费"
                },
                {
                    field: "MajorOrigin",
                    title: "材料费"
                },
                {
                    field: "Address",
                    title: "管理费"
                },
                {
                    field: "FixPhone",
                    title: "其它费用"
                }
            ]
        });
    });
</script>

